@model byte?[,]

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-8 col-md-8">
        @Html.Partial("_BoardView")

    </div>
    <div class="col-sm-4 col-md-4">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-dark" onclick="location.href = '@Url.Action("Generate", "Home")'">Generate</button>
            <button type="button" class="btn btn-dark" onclick="location.href = '@Url.Action("Solve", "Home")'">Solve</button>
            <button type="button" class="btn btn-dark" onclick="location.href = '@Url.Action("Reset", "Home")'">Reset</button>
        </div>
    </div>
</div>